# Load from canonical restaurant data

In [26]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

In [27]:
files = [f for f in listdir('./') if '.csv' in f]
files

['CanonicalRestaurants.csv', 'CanonicalSummary.csv', 'ClosedRestaurants.csv']

In [36]:
df = pd.read_csv('./CanonicalRestaurants.csv')

In [37]:
df.columns

Index(['address', 'category', 'claimed_status', 'compound', 'date',
       'first_review', 'health_rating', 'id', 'info', 'last_review',
       'latitude', 'longitude', 'name', 'negative', 'neighborhood', 'neutral',
       'permanently_closed', 'phone', 'positive', 'price_range', 'ratings',
       'ratings_histogram', 'reviews', 'star', 'subjectivity', 'url',
       'website', 'working_hours'],
      dtype='object')

In [38]:
df.shape

(484650, 28)

In [39]:
df['Claimed?'] = df['claimed_status'].apply(lambda x: 1 if str(x) == 'Claimed' else 0)
df['HasWebsite'] = df['website'].apply(lambda x: 1 if 'http' in str(x) else 0)

In [40]:
droplist = ['working_hours', 'health_rating', 'phone', 'url', 'claimed_status', 
            'website', 'address', 'longitude', 'latitude', 'reviews', 
            'date', 'star', 'subjectivity', 'negative', 'neutral', 'positive', 'compound']
df.drop(droplist, inplace=True, axis=1)

In [41]:
df = df[(df['last_review'] != 'MISSING') & (df['first_review'] != 'MISSING')].copy()
df.shape

(484609, 13)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 484609 entries, 0 to 484649
Data columns (total 13 columns):
category              484315 non-null object
first_review          484609 non-null object
id                    484609 non-null object
info                  484609 non-null object
last_review           484609 non-null object
name                  484609 non-null object
neighborhood          482772 non-null object
permanently_closed    484609 non-null int64
price_range           483514 non-null object
ratings               484609 non-null float64
ratings_histogram     484609 non-null object
Claimed?              484609 non-null int64
HasWebsite            484609 non-null int64
dtypes: float64(1), int64(3), object(9)
memory usage: 51.8+ MB

In [43]:
#df['date'] =  pd.to_datetime(df['date'])
df['last_review'] =  pd.to_datetime(df['last_review'])
df['first_review'] =  pd.to_datetime(df['first_review'])

# Remove closed restaurants that have last review earlier than 2012/01/01

In [44]:
import datetime
cut_day = datetime.date(2012, 1, 1)

In [45]:
mask = (df['permanently_closed'] == 1) & (df['last_review'] < cut_day)
cut_df = df[~mask].copy()

In [46]:
cut_df.head()

,category,first_review,id,info,last_review,name,neighborhood,permanently_closed,price_range,ratings,ratings_histogram,Claimed?,HasWebsite
0,"Breakfast & Brunch,American (Traditional)",2011-10-08,0_2-sparrows,"[{'Takes Reservations': 'No'}, {'Delivery': 'N...",2015-02-02,2 Sparrows,Lincoln Park,1,$11-30,3.0,"[{5: 63}, {4: 94}, {3: 67}, {2: 78}, {1: 34}]",1,1
1,"Breakfast & Brunch,American (Traditional)",2011-10-08,0_2-sparrows,"[{'Takes Reservations': 'No'}, {'Delivery': 'N...",2015-02-02,2 Sparrows,Lincoln Park,1,$11-30,3.0,"[{5: 63}, {4: 94}, {3: 67}, {2: 78}, {1: 34}]",1,1
2,"Breakfast & Brunch,American (Traditional)",2011-10-08,0_2-sparrows,"[{'Takes Reservations': 'No'}, {'Delivery': 'N...",2015-02-02,2 Sparrows,Lincoln Park,1,$11-30,3.0,"[{5: 63}, {4: 94}, {3: 67}, {2: 78}, {1: 34}]",1,1
3,"Breakfast & Brunch,American (Traditional)",2011-10-08,0_2-sparrows,"[{'Takes Reservations': 'No'}, {'Delivery': 'N...",2015-02-02,2 Sparrows,Lincoln Park,1,$11-30,3.0,"[{5: 63}, {4: 94}, {3: 67}, {2: 78}, {1: 34}]",1,1
4,"Breakfast & Brunch,American (Traditional)",2011-10-08,0_2-sparrows,"[{'Takes Reservations': 'No'}, {'Delivery': 'N...",2015-02-02,2 Sparrows,Lincoln Park,1,$11-30,3.0,"[{5: 63}, {4: 94}, {3: 67}, {2: 78}, {1: 34}]",1,1

In [47]:
cut_df.shape

(476583, 13)

# Collapse the cononical data to one restaurant per row

In [48]:
cut_df.drop_duplicates(inplace=True)
cut_df.shape

(1152, 13)

# Baseline

In [49]:
cut_df['permanently_closed'].value_counts()

0    849
1    303
Name: permanently_closed, dtype: int64

In [50]:
cut_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1152 entries, 0 to 484577
Data columns (total 13 columns):
category              1150 non-null object
first_review          1152 non-null datetime64[ns]
id                    1152 non-null object
info                  1152 non-null object
last_review           1152 non-null datetime64[ns]
name                  1152 non-null object
neighborhood          1141 non-null object
permanently_closed    1152 non-null int64
price_range           1127 non-null object
ratings               1152 non-null float64
ratings_histogram     1152 non-null object
Claimed?              1152 non-null int64
HasWebsite            1152 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(3), object(7)
memory usage: 126.0+ KB

In [51]:
closed = cut_df[cut_df['permanently_closed'] == 1].copy()
opened = cut_df[cut_df['permanently_closed'] == 0].copy()

In [52]:
closed['price_range'].value_counts()

$11-30         167
$31-60          76
Under $10       23
Above $61       12
Moderate        11
Inexpensive      4
Pricey           2
Name: price_range, dtype: int64

In [611]:
id_train_list = list(id_train['id'])
id_test_list = list(id_test['id'])

# Functions to extract NLP data with varying block weeks and open weeks

In [612]:
def GetReviewSummary(df=None, blockweeks=52, openweeks=52, NLPsummary=['star']):
    from sklearn.linear_model import LinearRegression
    from datetime import timedelta
    Dict = {}
    df = df.copy()
    df['date'] =  pd.to_datetime(df['date'])
    df['year'] = df['date'].apply(lambda x: x.year)
    blck = timedelta(weeks=blockweeks)
    blocktime = df['date'].iloc[0] - blck
    new_df = df[df['date'] <= blocktime].copy()
    Dict['avg_reviews'] = [float(new_df.shape[0])/(new_df['year'].max() - new_df['year'].min() + 1)]    
    Dict['avg_star'] = new_df['star'].mean()
    Dict['5_star'] = new_df[new_df['star'] == 5.0].shape[0]
    Dict['4_star'] = new_df[new_df['star'] == 4.0].shape[0]
    Dict['3_star'] = new_df[new_df['star'] == 3.0].shape[0]
    Dict['2_star'] = new_df[new_df['star'] == 2.0].shape[0]
    Dict['1_star'] = new_df[new_df['star'] == 1.0].shape[0]
    if NLPsummary != None:            
        opn = timedelta(weeks=openweeks)        
        opentime = blocktime - opn
        open_df = new_df[(new_df['date'] >= opentime)].copy()
        open_df['days'] = open_df['date'].apply(lambda x: (x - list(open_df['date'])[-1]).days)
        for item in NLPsummary:
            Dict['AvgLast_'+item] = [open_df[item].mean()]
            if open_df.shape[0] >= 2:             
                lr = LinearRegression()
                lr.fit(open_df[['days']],open_df[item])
                Dict['Last_'+item+'_intrcpt'] = [lr.intercept_]
                Dict['Last_'+item+'_coef'] = [lr.coef_[0]]
            else:
                Dict['Last_'+item+'_intrcpt'] = [open_df[item].mean()]
                Dict['Last_'+item+'_coef'] = [0.0] 
    return Dict

In [613]:
def GetEachSummary(df=None, idname=None, blockweeks=52, openweeks=52, NLPsummary=['star','compound','subjectivity']):
    subset = df[df['id']==idname]
    row = pd.DataFrame(subset.iloc[0,:]).transpose()
    InfoList = ['id', 'name', 'category', 'price_range', 'neighborhood', 'info', 'Claimed?', 
                'HasWebsite', 'first_review', 'last_review', 'permanently_closed']
    Info = row[InfoList]
    ReviewList = ['date', 'star', 'compound', 'neutral', 'positive', 'negative', 'subjectivity']
    Review = subset[ReviewList]
    Summary = GetReviewSummary(df=Review, blockweeks=blockweeks, openweeks=openweeks, NLPsummary=NLPsummary)
    Sum_df = pd.DataFrame(Summary, index=[Info.index[0]])
    each = Info.join(Sum_df)
    return each

In [614]:
def GetSummarydf(df=None, idlist=None, blockweeks=52, openweeks=52, NLPsummary=['star','compound','subjectivity']):
    Summary_df = GetEachSummary(df=df, idname=idlist[0], 
                                blockweeks=blockweeks, openweeks=openweeks, NLPsummary=NLPsummary)
    for i, idname in enumerate(idlist[1:]):
        new = GetEachSummary(df=df, idname=idname, 
                             blockweeks=blockweeks, openweeks=openweeks, NLPsummary=NLPsummary)
        Summary_df = Summary_df.append(new, ignore_index=True)     
    return Summary_df

# Create dictionaries to store train/test dataframes of different block/open weeks combinations
- block weeks: 13, 26, 52 weeks
- open weeks: 26, 52, 78 weeks
- 9 combinations in total

In [615]:
blck = [13, 26, 52]
opn = [26, 52, 78]
train = {} 
test = {}
for b in blck:
    for o in opn:
        key = 'df_block' + str(b) + '_open' + str(o)
        print(key)
        train[key] = GetSummarydf(df=cut_df, idlist=id_train_list, 
                                  blockweeks=b, openweeks=o, NLPsummary=['star','compound','subjectivity'])
        test[key] = GetSummarydf(df=cut_df, idlist=id_test_list, 
                                 blockweeks=b, openweeks=o, NLPsummary=['star','compound','subjectivity'])

df_block13_open26
df_block13_open52
df_block13_open78
df_block26_open26
df_block26_open52
df_block26_open78
df_block52_open26
df_block52_open52
df_block52_open78

# Creat lists of dummy variables for category, neighborhood, and price range

In [616]:
def GetLabels(df=train['df_block13_open26'], column='category'):
    ensumble = []
    for line in df[column]:
        if type(line) != float:
            labels = line.split(',')
            for l in labels:
                l = l.strip()
                if l not in ensumble:
                    ensumble.append(l)
    return ensumble

In [631]:
categories = GetLabels(df=train['df_block13_open26'], column='category')
categories

['French',
 'Barbeque',
 'Music Venues',
 'Pizza',
 'Italian',
 'Middle Eastern',
 'Vegetarian',
 'Falafel',
 'Bakeries',
 'Breakfast & Brunch',
 'Ukrainian',
 'American (New)',
 'Southern',
 'Cocktail Bars',
 'American (Traditional)',
 'Sandwiches',
 'Burgers',
 'Restaurants',
 'Bars',
 'Coffee & Tea',
 'Pubs',
 'Hot Dogs',
 'Thai',
 'Japanese',
 'Chinese',
 'Sushi Bars',
 'Mexican',
 'Cuban',
 'Indian',
 'Pakistani',
 'Ethiopian',
 'Cafes',
 'Juice Bars & Smoothies',
 'Desserts',
 'Irish',
 'Latin American',
 'Korean',
 'Asian Fusion',
 'Grocery',
 'Venues & Event Spaces',
 'Tapas Bars',
 'Spanish',
 'Tapas/Small Plates',
 'Shanghainese',
 'Cantonese',
 'Wine Bars',
 'Steakhouses',
 'Beer Bar',
 'Austrian',
 'Salad',
 'Argentine',
 'Greek',
 'British',
 'Gastropubs',
 'Modern European',
 'Fast Food',
 'Dance Clubs',
 'Comfort Food',
 'Himalayan/Nepalese',
 'Soup',
 'Diners',
 'Lounges',
 'Food Stands',
 'Jazz & Blues',
 'Noodles',
 'Fondue',
 'Mediterranean',
 'Gluten-Free',
 'Colombian',
 'Seafood',
 'Brazilian',
 'Chicken Wings',
 'Sports Bars',
 'Hawaiian',
 'Ice Cream & Frozen Yogurt',
 'Cooking Schools',
 'Vietnamese',
 'Polish',
 'Food Trucks',
 'Chicken Shop',
 'Dive Bars',
 'Cajun/Creole',
 'Russian',
 'Creperies',
 'Fish & Chips',
 'Caterers',
 'Indonesian',
 'Vegan',
 'German',
 'Turkish',
 'Filipino',
 'Beer',
 'Wine & Spirits',
 'Ramen',
 'Basque',
 'Moroccan',
 'Delis',
 'Karaoke',
 'Tex-Mex',
 'Chocolatiers & Shops',
 'Buffets',
 'Halal',
 'Beer Gardens',
 'Irish Pub',
 'Bagels',
 'Champagne Bars',
 'Puerto Rican',
 'Persian/Iranian',
 'Dim Sum',
 'Soul Food',
 'African',
 'Adult Entertainment',
 'Meat Shops',
 'Scandinavian',
 'Bubble Tea',
 'Butcher',
 'Donuts',
 'Szechuan',
 'Pool Halls',
 'Breweries',
 'Peruvian',
 'Caribbean',
 'Pasta Shops',
 'Toy Stores',
 'Scottish',
 'Live/Raw Food',
 'Afghan']

In [632]:
neighborhoods = GetLabels(df=train['df_block13_open26'], column='neighborhood')
neighborhoods

['Edgewater',
 'West Town',
 'Wicker Park',
 'Lincoln Park',
 'Andersonville',
 'Humboldt Park',
 'Near West Side',
 'West Loop',
 'Noble Square',
 'Lakeview',
 'Bucktown',
 'University Village',
 'South Loop',
 'Near North Side',
 'DePaul',
 'Irving Park',
 'Logan Square',
 'Roscoe Village',
 'Avondale',
 'Greektown',
 'North Center',
 'Bridgeport',
 'Old Town',
 'Portage Park',
 'Chinatown',
 'Uptown',
 'Albany Park',
 'Rogers Park',
 'Garfield Ridge',
 'Fulton Market',
 'Pilsen',
 'Edison Park',
 'River North',
 'Streeterville',
 'Ukrainian Village',
 'Ravenswood',
 'Lincoln Square',
 'River East',
 'The Loop',
 'River West',
 'West Rogers Park',
 'Cragin',
 'Gold Coast',
 'Near Southside',
 'Wrigleyville',
 'West Lawn',
 'Hermosa',
 'Little Village',
 "Printer's Row",
 'North Park',
 'Forest Glen']

In [633]:
price_ranges = GetLabels(df=train['df_block13_open26'], column='price_range')
price_ranges

['$11-30',
 'Under $10',
 '$31-60',
 'Moderate',
 'Inexpensive',
 'Pricey',
 'Above $61']

Drop 'Restaurant', 'Pilsen', and 'Pricey' for category, neighborhood, and price range, respectively

In [634]:
categories.remove('Restaurants')
neighborhoods.remove('Pilsen')
#price_ranges.remove('Pricey')

# Check values for 'Attire', 'Parking', 'Alcohol', 'Noise Level', and 'Wi-Fi' in info:

In [635]:
def ColumnParser(info, text=False):
    '''Parse info column to a dictionary'''
    import re
    Dict = {}
    if len(info) > 2:
        List = re.findall(r"\{(.*?)\}", info)        
        for item in List:  
            if text:
                key = re.findall(r"\'(.*?)\'", item)[0]
                value = re.findall(r"\'(.*?)\'", item)[1]
            else:
                key = item.split(': ')[0]
                value = item.split(': ')[1]
            Dict[key] = value
    return Dict

In [636]:
df = train['df_block13_open26'].copy()
df['info'] = df['info'].apply(lambda x: ColumnParser(x, text=True))

In [637]:
def GetValues(df=train['df_block13_open26'], feature='Attire'):
    ensumble = []
    for item in list(df['info']):
        if feature in item.keys():
            if ', ' in item[feature]:
                for i in item[feature].split(', '):
                    ensumble.append(i)
            else:
                ensumble.append(item[feature])
    return list(set(ensumble))

In [638]:
for f in ['Attire', 'Parking', 'Alcohol', 'Noise Level', 'Wi-Fi']:
    print(f+': ', GetValues(df=df, feature=f))

Attire:  ['Dressy', 'Formal (Jacket Required)', 'Casual']
Parking:  ['Garage', 'Street', 'Valet', 'Validated', 'Private Lot']
Alcohol:  ['Full Bar', 'No', 'Beer & Wine Only']
Noise Level:  ['Loud', 'Very Loud', 'Quiet', 'Average']
Wi-Fi:  ['No', 'Paid', 'Free']

In [639]:
binomial = ['Accepts Credit Cards', 'Good for Groups', 'Good for Kids', 
                'Takes Reservations', 'Outdoor Seating', 'Take-out',  'Delivery', 'Has TV']
polynomial = {'Attire': ['Dressy', 'Casual'],
              'Parking': ['Valet', 'Garage', 'Street', 'Validated'], 
              'Alcohol': ['Full Bar', 'No'], 
              'Noise Level': ['Loud', 'Quite', 'Average'],
              'Wi-Fi': ['No', 'Free']}

In [640]:
train_copy = {}
test_copy = {}
for key, df in train.items():
    train_copy[key] = df.copy()
for key, df in test.items():
    test_copy[key] = df.copy()

# Process each train/test pair to get dummy variables

In [641]:
for i, df in enumerate(list(train_copy.values()) + list(test_copy.values())):
    print(i)
    for key, columns in {'category': categories, 'neighborhood': neighborhoods, 'price_range': price_ranges}.items():
        for c in columns:
            df[c] = df[key].apply(lambda x: 1 if c in str(x) else 0)
    df['info'] = df['info'].apply(lambda x: ColumnParser(x, text=True))
    for b in binomial:
        df[b] = df['info'].apply(lambda x: 1 if x.get(b,'0') == 'Yes' else 0)
    for k, values in polynomial.items():
        for v in values:
            df[k+'_'+v] = df['info'].apply(lambda x: 1 if x.get(k, '0') == v else 0 )
    df.drop(['category', 'neighborhood', 'price_range', 'info'], inplace=True,axis=1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

# Write each train/test dataframe as csv files in ../part_03

In [642]:
for key, df in train_copy.items():
    df.to_csv('../part_03/train_'+key+'.csv', index=False)

In [643]:
for key, df in test_copy.items():
    df.to_csv('../part_03/test_'+key+'.csv', index=False)